[Unit]
Description=Skeleton firewall

[Service]
Type=oneshot
RemainAfterExit=yes
ExecStart=/bin/sh /sbin/firewall

[Install]
WantedBy=multi-user.target
